@media only screen and (max-width: 320px) {
  .profile-pic {
    width: 100%; } }
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  .profile-pic {
    width: 125px; } }
@media only screen and (min-width: 1024px) {
  .profile-pic {
    float: none; } }

* {
  margin: 0;
  padding: 0; }

.screenCanvas {
  text-align: center;
  /*            margin: 0 auto;*/ }

@-ms-viewport {
  width: device-width; }
body {
  background-color: #24afe9;
  background: linear-gradient(top, #ffffff 0%, #24afe9 100%);
  font-family: "VAG Rounded W01 Bold", sans-serif;
  min-height: 100%;
  height: 100%;
  height: 100vh;
  width: 100vw;
  min-height: 100vh; }
  body.loaded {
    background: url(../img/common/main-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed; }
    @media only screen and (min-device-width: 728px) and (max-device-width: 1024px) and (orientation: portrait) {
      body.loaded {
        background: url(../img/common/ipad-main-bg.jpg) no-repeat; } }

a:link {
  color: white; }

a:visited {
  color: white; }

a:hover {
  color: white; }

a:active {
  color: white; }

button, a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.close-x {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; }
  .close-x img {
    width: 100%; }

button.next, button.back {
  display: block;
  position: absolute;
  width: 90px;
  height: 45px;
  background-color: transparent;
  background-size: 100%;
  border: 0; }

button.next {
  bottom: 10px;
  right: 10px;
  background-image: url("../img/assets/next.png"); }

button.back {
  top: 10px;
  background-image: url("../img/assets/back.png"); }

#landing video {
  width: 100%; }
#landing footer #star-in-this-video {
  width: 65%;
  padding: 1.25%;
  padding-right: 0; }
#landing footer #choose-video, #landing footer #share-video {
  width: 15%; }
#landing footer div {
  display: inline-block; }
  #landing footer div img {
    width: 100%; }

#landing {
  height: 100vh; }
  #landing #video-container {
    height: 100%; }
    #landing #video-container video {
      max-height: calc(100% - 59px); }
  #landing footer {
    background-image: url(../img/landing/footer_bg_landscape.jpg);
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    width: 100%;
    height: 59px;
    overflow: hidden; }
    #landing footer #star-in-this-video {
      width: 222px;
      padding: 6px;
      margin: auto;
      display: block; }
      @media only screen and (max-width: 615px) {
        #landing footer #star-in-this-video {
          margin-left: 190px; } }
    #landing footer #choose-video, #landing footer #share-video {
      width: 50px;
      position: relative;
      top: -52px;
      left: calc(100% - 108px); }

#sharing-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  position: absolute;
  top: 0;
  left: 0; }
  #sharing-container #sharing h1 {
    margin-bottom: 10px; }
  #sharing-container #sharing #buttons {
    width: 225px;
    margin: auto; }
    #sharing-container #sharing #buttons div {
      margin: 10px;
      margin-bottom: 20px;
      width: 90px;
      height: 90px;
      display: inline-block; }
      #sharing-container #sharing #buttons div img {
        width: 100%; }

#sharing-facebook #friend-selection {
  margin-top: 50px; }
  @media screen and (min-device-width: 375px) {
    #sharing-facebook #friend-selection {
      margin-top: 19px; } }
  @media screen and (min-device-width: 414px) {
    #sharing-facebook #friend-selection {
      margin-top: 30px; } }
  #sharing-facebook #friend-selection nav button {
    position: absolute;
    top: 50%;
    width: 26px;
    height: 30px;
    border: 0;
    margin-top: -15px;
    outline: none; }
    #sharing-facebook #friend-selection nav button#move-right {
      background: url("../img/common/arrow-right@2x.png") no-repeat;
      background-size: 100%;
      right: 3px; }
    #sharing-facebook #friend-selection nav button#move-left {
      background: url("../img/common/arrow-left@2x.png") no-repeat;
      background-size: 100%;
      left: 3px; }
  #sharing-facebook #friend-selection #back {
    position: absolute;
    bottom: 31px;
    width: 80px;
    height: 25px;
    background: url("../img/common/back-button@2x.png") no-repeat;
    background-size: 100%;
    border: 0;
    margin-left: -40px; }
  #sharing-facebook #friend-selection #friend-wrap {
    position: absolute;
    left: 35px;
    width: calc(100vw - 70px);
    overflow: hidden;
    overflow-x: scroll;
    height: calc(100vh - 142px);
    margin-top: 15px; }
    @media screen and (min-device-width: 414px) {
      #sharing-facebook #friend-selection #friend-wrap {
        width: calc(100vw - 100px);
        left: 53px; } }
    #sharing-facebook #friend-selection #friend-wrap #friend-container {
      position: absolute; }
      #sharing-facebook #friend-selection #friend-wrap #friend-container .page {
        float: left;
        width: calc(100vw - 45px); }
        @media screen and (min-device-width: 414px) {
          #sharing-facebook #friend-selection #friend-wrap #friend-container .page {
            width: calc(100vw - 79px); } }
        #sharing-facebook #friend-selection #friend-wrap #friend-container .page .col {
          float: left;
          width: calc(33vw - 39px);
          margin-right: 25px; }
          @media screen and (min-device-width: 414px) {
            #sharing-facebook #friend-selection #friend-wrap #friend-container .page .col {
              width: calc(33vw - 50px); } }
        #sharing-facebook #friend-selection #friend-wrap #friend-container .page .friend {
          position: relative;
          float: left;
          margin-bottom: 25px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          /* future proofing */
          -khtml-border-radius: 5px;
          /* for old Konqueror browsers */
          width: 100%;
          background-size: cover;
          padding-bottom: 100%; }
        #sharing-facebook #friend-selection #friend-wrap #friend-container .page .thumb {
          position: absolute;
          left: 0;
          width: 100%;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          -khtml-border-radius: 5px;
          background-size: cover;
          padding-bottom: 100%; }

#choose-video-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none; }
  #choose-video-container #choose-video button.next {
    display: block;
    bottom: 10px;
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: transparent;
    background-image: url("../img/assets/next.png");
    background-size: 100%;
    border: 0; }
  #choose-video-container #choose-video #buttons div {
    display: inline-block;
    width: 90px;
    max-width: 160px;
    margin: 10px; }
    #choose-video-container #choose-video #buttons div img {
      width: 100%; }

#upload-facebook-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none; }
  #upload-facebook-container #fb-photo-selection nav button {
    position: absolute;
    top: 50%;
    width: 26px;
    height: 40px;
    border: 0;
    margin-top: -15px;
    outline: none; }
    #upload-facebook-container #fb-photo-selection nav button#move-right {
      background: url("../img/assets/arrow_right.png") no-repeat;
      background-size: 100%;
      right: 3px; }
    #upload-facebook-container #fb-photo-selection nav button#move-left {
      background: url("../img/assets/arrow_left.png") no-repeat;
      background-size: 100%;
      left: 3px; }
  #upload-facebook-container #fb-photo-selection #photo-wrap {
    position: absolute;
    left: 50%;
    width: 234px;
    overflow: hidden;
    overflow-x: scroll;
    height: 448px;
    margin-top: 15px;
    margin-left: -117px; }
    @media screen and (min-device-width: 414px) {
      #upload-facebook-container #fb-photo-selection #photo-wrap {
        width: calc(100vw - 100px);
        left: 53px; } }
    #upload-facebook-container #fb-photo-selection #photo-wrap #photo-container {
      position: absolute; }
      #upload-facebook-container #fb-photo-selection #photo-wrap #photo-container .page {
        float: left;
        width: calc(100vw - 45px);
        width: 75vw;
        max-width: 234px; }
        @media screen and (min-device-width: 414px) {
          #upload-facebook-container #fb-photo-selection #photo-wrap #photo-container .page {
            width: calc(100vw - 79px); } }
        #upload-facebook-container #fb-photo-selection #photo-wrap #photo-container .page .col {
          float: left;
          width: calc(45% - 12px);
          max-width: 93px;
          margin-right: 12px;
          margin-left: 12px; }
          @media screen and (min-device-width: 414px) {
            #upload-facebook-container #fb-photo-selection #photo-wrap #photo-container .page .col {
              width: calc(33vw - 50px); } }
        #upload-facebook-container #fb-photo-selection #photo-wrap #photo-container .page .photo {
          position: relative;
          float: left;
          margin-bottom: 25px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          /* future proofing */
          -khtml-border-radius: 5px;
          /* for old Konqueror browsers */
          width: 100%;
          background-size: cover;
          padding-bottom: 100%; }
        #upload-facebook-container #fb-photo-selection #photo-wrap #photo-container .page .thumb {
          position: absolute;
          left: 0;
          width: 100%;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          -khtml-border-radius: 5px;
          background-size: cover;
          padding-bottom: 100%; }

#upload-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  position: absolute;
  top: 0;
  left: 0; }
  #upload-container #upload h1 {
    margin-bottom: 10px; }
  #upload-container #upload #buttons div {
    margin: auto;
    margin-bottom: 20px;
    width: 90px;
    height: 90px; }
    #upload-container #upload #buttons div img {
      width: 100%; }
  #upload-container #upload #terms {
    font-size: 20px;
    font-weight: 100; }
  #upload-container #upload #camera-button-wrap {
    background: url(../img/upload/camera.png);
    background-size: 100%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    display: inline-block; }
    #upload-container #upload #camera-button-wrap input {
      opacity: 0.000001;
      width: 100%;
      height: 100%; }

#upload-container #upload #buttons div {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  display: inline-block; }

#positioning-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  overflow: hidden; }
  #positioning-container #positioning .uploadPhoto_bg {
    width: 100%;
    max-width: 400px;
    padding-bottom: 100%;
    background-image: url("../img/positioning/face_background.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    left: 0px;
    top: 0px; }
  #positioning-container #positioning #mycontainer, #positioning-container #positioning #mycontainer2 {
    position: absolute;
    width: 100%;
    max-width: 400px;
    padding-bottom: 100%;
    top: 0px;
    left: 0px; }

body {
  background: url("../img/common/bg_portrait.jpg") no-repeat top left;
  background-size: cover;
  color: #FFFFFF; }

.va {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/*# sourceMappingURL=landscape.css.map */
