@media only screen and (max-width: 320px) {
  .profile-pic {
    width: 100%; } }
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  .profile-pic {
    width: 125px; } }
@media only screen and (min-width: 1024px) {
  .profile-pic {
    float: none; } }

* {
  margin: 0;
  padding: 0; }

.screenCanvas {
  text-align: center;
  /*            margin: 0 auto;*/ }

@-ms-viewport {
  width: device-width; }
body {
  background-color: #24afe9;
  background: linear-gradient(top, #ffffff 0%, #24afe9 100%);
  font-family: "VAG Rounded W01 Bold", sans-serif;
  min-height: 100%;
  height: 100%;
  height: 100vh;
  width: 100vw;
  min-height: 100vh; }
  body.loaded {
    background: url(../img/common/main-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed; }
    @media only screen and (min-device-width: 728px) and (max-device-width: 1024px) and (orientation: portrait) {
      body.loaded {
        background: url(../img/common/ipad-main-bg.jpg) no-repeat; } }

a:link {
  color: white; }

a:visited {
  color: white; }

a:hover {
  color: white; }

a:active {
  color: white; }

button, a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.close-x {
  width: 50px;
  position: absolute;
  top: 10px;
  right: 10px; }
  .close-x img {
    width: 100%; }

#landing video {
  width: 100%; }
#landing footer #star-in-this-video {
  width: 65%;
  padding: 1.25%;
  padding-right: 0; }
#landing footer #choose-video, #landing footer #share-video {
  width: 15%; }
#landing footer div {
  display: inline-block; }
  #landing footer div img {
    width: 100%; }

#landing {
  height: 100vh; }
  #landing #video-container {
    height: 100%; }
    #landing #video-container video {
      max-height: calc(100% - 59px); }
  #landing footer {
    background-image: url(../img/landing/footer_bg_landscape.jpg);
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    width: 100%;
    height: 59px;
    overflow: hidden; }
    #landing footer #star-in-this-video {
      width: 222px;
      padding: 6px;
      margin: auto;
      display: block; }
      @media only screen and (max-width: 615px) {
        #landing footer #star-in-this-video {
          margin-left: 190px; } }
    #landing footer #choose-video, #landing footer #share-video {
      width: 50px;
      position: relative;
      top: -52px;
      left: calc(100% - 108px); }

#upload-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  position: absolute;
  top: 0;
  left: 0; }
  #upload-container #upload h1 {
    margin-bottom: 10px; }
  #upload-container #upload #buttons div {
    margin-bottom: 10px; }
  #upload-container #upload #camera-button-wrap {
    background: url(../img/upload/camera.png);
    background-size: 100%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    display: inline-block; }
    #upload-container #upload #camera-button-wrap input {
      opacity: 0.000001;
      width: 100%;
      height: 100%; }

#upload-container #upload #buttons div {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  display: inline-block; }

#positioning {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75); }
  #positioning button.next {
    display: block;
    bottom: 10px;
    position: absolute;
    width: 60px;
    height: 30px;
    background-image: url("../img/assets/next.png");
    background-size: 100%; }
  #positioning .uploadPhoto_bg {
    width: 400px;
    height: 400px;
    background-image: url("/manu-profile-photo/images/ipad/myImgBG.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px; }

body {
  background: url("../img/common/bg_portrait.jpg") no-repeat top left;
  background-size: cover;
  color: #FFFFFF; }

.va {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/*# sourceMappingURL=landscape.css.map */
