@media only screen and (max-width: 320px) {
  .profile-pic {
    width: 100%; } }
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  .profile-pic {
    width: 125px; } }
@media only screen and (min-width: 1024px) {
  .profile-pic {
    float: none; } }

* {
  margin: 0;
  padding: 0; }

.screenCanvas {
  text-align: center;
  /*            margin: 0 auto;*/ }

@-ms-viewport {
  width: device-width; }
body {
  background-color: #000000;
  font-family: "VAG Rounded W01 Bold", sans-serif;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  width: 100vw; }
  body.loaded {
    background: url(../img/common/main-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed; }
    @media only screen and (min-device-width: 728px) and (max-device-width: 1024px) and (orientation: portrait) {
      body.loaded {
        background: url(../img/common/ipad-main-bg.jpg) no-repeat; } }

section {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  position: absolute;
  top: 0;
  left: 0; }

a:link {
  color: white; }

a:visited {
  color: white; }

a:hover {
  color: white; }

a:active {
  color: white; }

button, a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

h4 {
  font-weight: 100;
  margin: 55px 0 0 0;
  font-size: 20px; }

.close-x {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; }
  .close-x img {
    width: 100%; }

button.next, button.back {
  display: block;
  position: absolute;
  width: 90px;
  height: 45px;
  background-color: transparent;
  background-size: 100%;
  border: 0; }

button.next {
  bottom: 10px;
  right: 10px;
  background-image: url("../img/assets/next.png"); }

button.back {
  top: 20px;
  background-image: url("../img/assets/back.png"); }

@media screen and (min-width: 900px) {
  button.next, button.back {
    width: 120px;
    height: 58px; } }
img.fadeIn {
  /* CSS needed for animation
  ---------------------------------------------------- */
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  -o-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#landing video {
  width: 100%; }
#landing footer #star-in-this-video {
  width: 65%;
  padding: 1.25%;
  padding-right: 0; }
#landing footer #choose-video, #landing footer #share-video {
  width: 15%; }
#landing footer div {
  display: inline-block;
  vertical-align: middle; }
  #landing footer div img {
    width: 100%; }

#sharing-container #sharing h1 {
  margin-bottom: 25px; }
#sharing-container #sharing #buttons {
  width: 225px;
  margin: auto; }
  #sharing-container #sharing #buttons div {
    margin: 10px;
    margin-bottom: 20px;
    width: 90px;
    height: 90px;
    display: inline-block;
    vertical-align: middle; }
    @media screen and (min-width: 900px) {
      #sharing-container #sharing #buttons div {
        width: 120px;
        height: 120px; } }
    #sharing-container #sharing #buttons div img {
      width: 100%; }

.share-result {
  display: none; }

.share-confirm {
  text-align: center; }

.ok {
  display: block;
  /* position: absolute; */
  width: 90px;
  height: 90px;
  background-color: transparent;
  background-size: 100%;
  border: 0;
  background-image: url("../img/assets/ok.png");
  margin: auto;
  margin-top: 50px; }

#share-facebook-container,
#share-email-container,
#share-youtube-container,
#share-twitter-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  position: absolute;
  top: 0;
  left: 0; }

#choose-video-container #choose-video button.next {
  display: block;
  bottom: 10px;
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: transparent;
  background-image: url("../img/assets/next.png");
  background-size: 100%;
  border: 0; }
#choose-video-container #choose-video #buttons div {
  display: inline-block;
  width: 90px;
  max-width: 160px;
  margin: 10px; }
  #choose-video-container #choose-video #buttons div img {
    width: 100%; }

#upload-facebook-container #fb-photo-selection nav button {
  position: absolute;
  top: 50%;
  width: 26px;
  height: 40px;
  border: 0;
  margin-top: -15px;
  outline: none; }
  #upload-facebook-container #fb-photo-selection nav button#move-right {
    background: url("../img/assets/arrow_right.png") no-repeat;
    background-size: 100%;
    right: 3px; }
  #upload-facebook-container #fb-photo-selection nav button#move-left {
    background: url("../img/assets/arrow_left.png") no-repeat;
    background-size: 100%;
    left: 3px; }
#upload-facebook-container #fb-photo-selection #photo-wrap {
  position: absolute;
  left: 50%;
  width: 234px;
  overflow: hidden;
  overflow-x: scroll;
  height: 448px;
  margin-top: 15px;
  margin-left: -117px; }
  #upload-facebook-container #fb-photo-selection #photo-wrap #photo-container {
    position: absolute; }
    #upload-facebook-container #fb-photo-selection #photo-wrap #photo-container .page {
      float: left;
      width: calc(100vw - 45px);
      width: 75vw;
      max-width: 234px; }
      #upload-facebook-container #fb-photo-selection #photo-wrap #photo-container .page .col {
        float: left;
        width: calc(42% - 12px);
        max-width: 93px;
        margin-right: 12px;
        margin-left: 12px; }
      #upload-facebook-container #fb-photo-selection #photo-wrap #photo-container .page .photo {
        position: relative;
        float: left;
        margin-bottom: 25px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        /* future proofing */
        -khtml-border-radius: 5px;
        /* for old Konqueror browsers */
        width: 100%;
        background-size: cover;
        padding-bottom: 100%; }
        #upload-facebook-container #fb-photo-selection #photo-wrap #photo-container .page .photo .spinner {
          width: 20px;
          height: 20px;
          margin-left: -10px;
          margin-top: -10px; }
      #upload-facebook-container #fb-photo-selection #photo-wrap #photo-container .page .thumb {
        position: absolute;
        left: 0;
        width: 100%;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -khtml-border-radius: 5px;
        background-size: cover;
        padding-bottom: 100%; }

#upload-another-container {
  min-height: 500px; }
  #upload-another-container #upload-another #heads {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 300px;
    margin-bottom: 20px; }
    #upload-another-container #upload-another #heads .head {
      display: inline-block;
      position: relative;
      margin-bottom: 20px;
      width: 120px;
      height: 160px;
      margin-left: 10px;
      margin-right: 10px;
      vertical-align: middle;
      background: url("../img/upload/head-bg.png") no-repeat;
      background-size: 100%; }
      @media screen and (max-height: 650px) {
        #upload-another-container #upload-another #heads .head {
          width: 100px;
          height: 133px; } }
      #upload-another-container #upload-another #heads .head img {
        width: 100%; }
      #upload-another-container #upload-another #heads .head img.main {
        position: absolute;
        left: 0;
        top: 0; }
      #upload-another-container #upload-another #heads .head img.spinner {
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: -20px; }
      #upload-another-container #upload-another #heads .head .close-x {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0; }
    @media screen and (max-height: 650px) {
      #upload-another-container #upload-another #heads.three {
        min-height: 410px; } }
    #upload-another-container #upload-another #heads.five {
      min-height: 530px;
      margin-top: 30px; }
      #upload-another-container #upload-another #heads.five .head {
        width: 93px;
        height: 126px; }
    #upload-another-container #upload-another #heads.four {
      min-height: 330px; }
      #upload-another-container #upload-another #heads.four .head {
        width: 93px;
        height: 126px; }
  #upload-another-container #buttons {
    position: absolute;
    bottom: 20px;
    text-align: center; }
    #upload-another-container #buttons .button {
      height: 50px;
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      vertical-align: middle; }
      @media screen and (max-width: 400px) {
        #upload-another-container #buttons .button {
          height: 40px; } }
      @media screen and (max-width: 320px) {
        #upload-another-container #buttons .button {
          height: 30px; } }
      #upload-another-container #buttons .button img {
        height: 100%; }

#upload-container #upload h1 {
  margin-bottom: 50px;
  font-size: 2em; }
#upload-container #upload #buttons {
  margin-bottom: 60px; }
  #upload-container #upload #buttons div {
    margin: auto;
    margin-bottom: 30px;
    width: 90px;
    height: 90px;
    vertical-align: middle; }
    @media screen and (min-width: 900px) {
      #upload-container #upload #buttons div {
        width: 120px;
        height: 120px; } }
    #upload-container #upload #buttons div img {
      width: 100%; }
#upload-container #upload #terms {
  font-size: 20px;
  font-weight: 100; }
#upload-container #upload #camera-button-wrap {
  background: url(../img/upload/camera.png);
  background-size: 100%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
  display: inline-block; }
  #upload-container #upload #camera-button-wrap input {
    opacity: 0.000001;
    width: 100%;
    height: 100%; }

#positioning-container {
  overflow: hidden; }
  #positioning-container #positioning .uploadPhoto_bg {
    width: 100%;
    max-width: 400px;
    padding-bottom: 100%;
    background-image: url("../img/positioning/face_background.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    left: 0px;
    top: 0px; }
  #positioning-container #positioning #mycontainer, #positioning-container #positioning #mycontainer2 {
    position: absolute;
    width: 100%;
    max-width: 400px;
    padding-bottom: 100%;
    top: 0px;
    left: 0px; }
  #positioning-container #positioning .uploadPhoto_bg {
    height: 400px;
    padding-bottom: 0;
    margin: auto; }
  #positioning-container #positioning #mycontainer {
    position: relative;
    margin: auto; }
  #positioning-container #positioning #mycontainer2 {
    position: absolute;
    height: auto; }
    @media screen and (min-width: 400px) {
      #positioning-container #positioning #mycontainer2 {
        left: 50%;
        margin-left: -200px; } }

body {
  background: url("../img/common/bg_portrait.jpg") no-repeat top left;
  background-size: cover;
  color: #FFFFFF;
  background-color: #000000; }

.va {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/*# sourceMappingURL=portrait.css.map */
