<!-- Sharing UI Template -->
<div class="close-x"><img src="img/assets/close_x.png"></div>
<div id="choose-video" class="va">		
	<h1>SELECT VIDEO</h1>
	<div id="buttons">
		<div class="video-select" id="video-1"><image src="img/video_thumbnails/1.png" /></div>
		<div class="video-select" id="video-2"><image src="img/video_thumbnails/2.png" /></div>
		<div class="video-select" id="video-3"><image src="img/video_thumbnails/3.png" /></div>
		<div class="video-select" id="video-4"><image src="img/video_thumbnails/4.png" /></div>
		<div class="video-select" id="video-5"><image src="img/video_thumbnails/5.png" /></div>
	</div>	
</div>