<button class="back"></button>
<!-- Positioning UI Template -->
<div id="positioning" class="va">
	<canvas id="preUploadFaceCanvas" style="display:none; position: absolute; top:0px; left:0px" width="800" height="462"></canvas>
	<canvas id="finalMaskCanvas" width="400" height="400" style="display:block; position: absolute; top:0px; left:0px"></canvas>
	<canvas id="finalFaceCanvas" width="400" height="400" style="display:block; position: absolute; top:0px; left:0px"></canvas>
	
	<div class="uploadPhoto_bg"></div>
	<!--div class="uploadPhoto_body"></div-->
	<div style="-webkit-transform: scale3d(1.0, 1.0, 1); position: absolute; top:0px; left: 0px;">
		<div id="mycontainer" style="position: absolute;width: 400px; height: 400px; top:0px; left:0px">
			<canvas id="uploadFaceCanvas" style="width: 100%; height: 100%" width="400" height="400"></canvas>
		</div>
		<div id="mycontainer2" style="position: absolute;width: 400px; height: 400px; top:0px; left:0px">
			<canvas id="uploadGuideCanvas" style="width: 100%; height: 100%" width="400" height="400"></canvas>
		</div>
	</div>
	
</div>

<button class="next"></button>