<!-- Upload UI Template -->
<div class="close-x"><img src="img/assets/close_x.png"></div>
<div id="upload" class="va">	
	<h1><%= UPLOAD_PHOTO %></h1>
	<div id="buttons">
		<div id="camera-button-wrap">
			<input type="file" id="take-picture" accept="image/*">			
		</div>
		<div id="facebook"><image src="img/upload/facebook.png" /></div>
	</div>
	<a href="<%= termsLink %>" id="terms" target="_blank"><%= terms_of_use %></a>
</div>



<!-- <div class="btnTitle bBtnTitle" id="page1BtnTitle_camera">CAMERA</div>
<div class="media-drop" id="media-drop-'+uploadImgBtnId+'">
  <div id="dropbox">
    <input accept="image/*" type="file" class="inputBtn" id="fileUpload">
  </div>
</div> -->