<!-- Upload UI Template -->
<div id="close" class="close-x"><img src="img/assets/close_x.png"></div>
<div id="upload-another" class="va">	
	<h1>UPLOAD ANOTHER</h1>
	<div id="heads" class="<%= numberOfHeads %>">
	</div>		
</div>

<div id="buttons">
	<div id="add" class="button">
		<img src="img/upload/btn_uploadanother.png">
	</div>

	<div id="clear-all" class="button">
		<img src="img/upload/btn_clearall.png">
	</div>
	
	<div id="watch-video" class="button">
		<img src="img/upload/btn_watchvideo.png">
	</div>
</div>