// positioning.scss
#choose-video-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.75);
  display: none;

  #choose-video {

    button.next { 
      display: block;
      bottom: 10px;
      position: absolute;
      width: 60px;
      height: 30px;
      background-color: transparent;
      background-image: url("../img/assets/next.png");
      background-size: 100%;
      border: 0;
    }

  	.buttons div {
      display: inline-block;
      width: 30%;
      max-width: 160px;
    }
  }
}