// common

$bg-color: #000000;
$break-small: 320px;
$break-large: 1024px;
$iphone6: 375px;
$galaxys4: 360px;
$iphone6plus: 414px;
$light-blue: #1eafeb;
$font-family: "VAG Rounded W01 Bold";
$font-black: "VAG Rounded W01 Black";


@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

.profile-pic {
  @include respond-to(handhelds) { width: 100% ;}
  @include respond-to(medium-screens) { width: 125px; }
  @include respond-to(wide-screens) { float: none; }
}


* {
    margin:0;
    padding:0;
}

.screenCanvas {
    text-align: center;
/*            margin: 0 auto;*/
}

@-ms-viewport{   width:device-width; }

body {
    background-color: $bg-color;
    // background: linear-gradient(top, #ffffff 0%,#24afe9 100%);
    font-family: $font-family, sans-serif;
    min-height:100%;
    height: 100%;
    //height:100vh;
    max-height: 100%;
    width: 100vw;
    // min-height:100vh;

    &.loaded{
        background: url(../img/common/main-bg.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;  

        //iPad only
        @media only screen 
        and (min-device-width : 728px) 
        and (max-device-width : 1024px) 
        and (orientation : portrait)
        {    
            background: url(../img/common/ipad-main-bg.jpg) no-repeat;
        }
    }
}

section {
  width: 100vw;
  height: 100vh;  
  max-height: 100%;
  background-color: rgba(0,0,0,.75);  
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
a:link {        color: white;}
a:visited {     color: white;}
a:hover {       color: white;}
a:active {      color: white;}

button, a{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


h4 {
  font-weight: 100;
  margin: 55px 0 0 0;
  font-size: 20px;
}

.close-x {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    img {
        width: 100%;
    }
}

button.next, button.back {
  display: block;  
  position: absolute;
  width: 90px;
  height: 45px;
  background-color: transparent;  
  background-size: 100%;
  border: 0;
}

button.next { 
  bottom: 10px;  
  right: 10px;
  background-image: url("../img/assets/next.png");
}

button.back { 
  top: 20px;  
  background-image: url("../img/assets/back.png");
}

@media screen and (min-width:768px) {
  button.next, button.back {
    width: 120px;
    height: 58px;
  }
}


img.fadeIn {
  /* CSS needed for animation
  ---------------------------------------------------- */
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  -o-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}
/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }