@import "landing";

#landing {
	height: 100%;
	max-height: 100%;
	
	#video-container {
		height: 100%;
		
		video {
			// max-height: calc(100% - 59px);
		}
	}
	
	footer {
		background-image: url(../img/landing/footer_bg_landscape.jpg);		
		background-size: cover;
		position: fixed;
		background-repeat: no-repeat;
		bottom: 0;
		width: 100%;
		height: 59px;
		overflow: hidden;

		#star-in-this-video {
			width: 222px;
			padding: 6px;
			margin: auto;
			display: block;
			min-width: 500px;
			
			@media only screen and (max-width: 615px) {
				margin-left: 190px;
			}
		}

		#choose-video, #share-video {
			width: 50px;
			position: relative;
			top: -52px;
			left: calc(100% - 108px);					
		}

	}
}