#landing {

	video {
		width: 100%;
	}
	footer {

		#star-in-this-video {
			width: 65%;
			padding: 1.25%;
			padding-right: 0;
		}

		#choose-video, #share-video {
			width: 15%;						
		}

		div {
			display: inline-block;
			vertical-align: middle;
			
			img {
				width: 100%;
			}
		}
	}
}