@import "positioning";

#positioning-container 
{// positioning.scss

  #positioning {
    
    @media screen and (min-width:1024px) and (orientation:landscape) {
      transform: scale3d(1.5,1.5,1) translateY(-31%);
      -webkit-transform: scale3d(1.5,1.5,1) translateY(-31%);
      -ms-transform: scale3d(1.5,1.5,1) translateY(-31%);    
    }
    
  	.uploadPhoto_bg {
        height: 400px;
        padding-bottom: 0;
        margin: auto;      
    }

    #mycontainer {
      position: relative;
      margin: auto;
    }

    #mycontainer2{
      position: absolute;      
      // padding-bottom: 0;
      height: 400px;      

      @media screen and (min-width: 400px) {
        left: 50%;
        margin-left: -200px;
      }
    }
  }
}