@import "positioning";
// positioning.scss
#positioning-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.75);
  display: none;
  overflow: hidden;
  
  #positioning {
     
  	.uploadPhoto_bg {
      width: 100%;
      max-width: 400px;
      padding-bottom: 100%;
      background-image: url('../img/positioning/face_background.png');
      background-position: 0 0;
      background-repeat: no-repeat;      
      left: 0px;
      top: 0px;
    }

    #mycontainer, #mycontainer2{
      position: absolute;
      width: 100%;
      max-width: 400px;
      padding-bottom: 100%;
      top: 0px;
      left: 0px;
    }
  }
}