// positioning.scss
#positioning-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.75);
  display: none;
  #positioning {
     
  	.uploadPhoto_bg {
      width: 400px;
      height: 400px;
      background-image: url('../img/positioning/face_background.png');
      background-position: 0 0;
      background-repeat: no-repeat;      
      left: 0px;
      top: 0px;
    }
  }
}