// _upload.scss
#sharing-container {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.75);  
	display: none;
	position: absolute;
	top: 0;
	left: 0;

	#sharing {
		
		h1 {
		  margin-bottom: 10px;
		}

		#buttons {
		    width: 225px;
			margin: auto;
		  
			div {
			  	margin: 10px;
			    margin-bottom: 20px;    
			    width: 90px;
			    height: 90px;  
			    display: inline-block;
			    
			    img {
			    	width: 100%;
			    }
			}
		}
	}
}

.share-result {
	display: none;
}

.share-confirm {
	text-align: center;
}

.ok {
	display: block;
	/* position: absolute; */
	width: 90px;
	height: 90px;
	background-color: transparent;
	background-size: 100%;
	border: 0;
	background-image: url("../img/share/ok.png");
	margin: auto;
	margin-top: 50px;
	}
#share-facebook-container, 
#share-email-container, 
#share-youtube-container, 
#share-twitter-container {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.75);  
	display: none;
	position: absolute;
	top: 0;
	left: 0;


}