// _upload.scss
#upload-another-container {
  // width: 100vw;
  // height: 100vh;
  // background-color: rgba(0,0,0,.75);  
  // display: none;
  // position: absolute;
  // top: 0;
  // left: 0;
  // min-height: 500px;


  #upload-another {  

    #heads {
      text-align: center;
      margin: auto;
      margin-top: 50px;
      width: 300px;
      margin-bottom: 20px;

      .head {        
        display: inline-block;
        position: relative;        
        margin-bottom: 20px;            
        width: 120px;
        height: 160px;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle;
        background: url('../img/head-bg.png') no-repeat;
        background-size: 100%;

        @media screen and (max-height: 650px) {
          width: 100px;
          height: 133px;
        }

        img {
          width: 100%;
        }

        img.main {
          position: absolute;
          left: 0;
          top: 0;
        }

        img.spinner {
            width: 40px;
            height: 40px;
            margin-left: -20px;
            margin-top: -20px;
        }

        .close-x {
          width: 30px;
          height: 30px;        
          position: absolute;
          top: 0;
          right: 0;          
        }
      } 

      &.three {
        @media screen and (max-height: 650px) and (orientation: portrait) {        
          min-height: 410px;
        }
      }
      
      &.five {
        min-height: 530px;
        margin-top: 30px;

        .head {
          width: 93px;
          height: 126px;
        }
      }

      &.four {
        min-height: 330px;
        .head {
          width: 93px;
          height: 126px;
        }
      }     
    }
  }
  #buttons {
      position: absolute;
      bottom: 20px;
      text-align: center;
      
      @media screen and (min-width:400px) {
        width: 100%;        
      }

      .button {
        height: 50px;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        vertical-align: middle;

        @media screen and (max-width:400px) {
          height: 40px;
        }

        @media screen and (max-width:320px) {
          height: 30px;
        }

        img {
          height: 100%;
        }
      }  
      @media screen and (min-width:400px) {
        #clear-all {
          position: absolute;
          float: left;
          bottom: 0;
          left: 0;        
        }
        #watch-video {
          position: absolute;
          float: right;
          bottom: 0;
          right: 0;        
        }
      }
      
    } 
}