// _upload.scss
#upload-another-container {
  // width: 100vw;
  // height: 100vh;
  // background-color: rgba(0,0,0,.75);  
  // display: none;
  // position: absolute;
  // top: 0;
  // left: 0;
  
  #upload-another {  

    #heads {
      text-align: center;
      margin: auto;
      margin-top: 50px;
      width: 300px;
      margin-bottom: 20px;

      .head {        
        display: inline-block;
        position: relative;        
        margin-bottom: 20px;            
        width: 120px;
        height: 150px;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle;
        background: url('../img/upload/head-bg.png');
        
        img {
          width: 100%;
        }

        .close-x {
          width: 30px;
          height: 30px;        
          position: absolute;
          top: 0;
          right: 0;          
        }
      } 

      &.five {
        min-height: 530px;
        margin-top: 30px;

        .head {
          width: 93px;
          height: 126px;
        }
      }

      &.four {
        min-height: 330px;
        .head {
          width: 93px;
          height: 126px;
        }
      }     
    }
  }
  #buttons {
      position: absolute;
      bottom: 20px;
      text-align: center;

      .button {
        height: 50px;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        vertical-align: middle;

        @media screen and (max-width:400px) {
          height: 40px;
        }

        @media screen and (max-width:320px) {
          height: 30px;
        }

        img {
          height: 100%;
        }
      }  
      
    } 
}