@import "upload-facebook";

#upload-facebook-container {

  #fb-photo-selection{
        
    #photo-wrap {
      
      position: absolute;
      width: 100%;
      overflow: hidden;
      overflow-x: scroll;
      height: 214px;
      margin-top: 15px;
      max-width: 574px;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      margin-left: 0;
      
      #photo-container {        

        .page{
          float: left;
          width: calc(100vw - 45px);
          max-width: 585px;
                                       
        }
      }
    }
  }
}