// _upload.scss
@import "upload-another";

#upload-another-container {
  
  #upload-another {  

    #heads {
      
      .head {        

        img {

        }
        .close-x {
          
        }
      }      
    }
  }
  #buttons {
      width: 100%;
      
      #clear-all {
        position: absolute;
        float: left;
        bottom: 0;
        left: 0;        
      }
      #watch-video {
        position: absolute;
        float: right;
        bottom: 0;
        right: 0;        
      }
    }   
}