// positioning.scss
#upload-facebook-container {
  // width: 100vw;
  // height: 100vh;
  // background-color: rgba(0,0,0,.75);  
  // display: none;
  
  #fb-photo-selection{
    
    nav{

      button{
        position: absolute;
        top: 50%;
        width: 26px;
        height: 40px;
        border: 0;
        margin-top: -15px;
        outline: none;

          &#move-right{
            background: url('../img/assets/arrow_right.png') no-repeat;
            background-size: 100%;
            right: 3px;
          }
          &#move-left{
            background: url('../img/assets/arrow_left.png') no-repeat;
            background-size: 100%;
            left: 3px;
          }
      }
    }
   
    #photo-wrap {
      position: absolute;
      left: 50%;
      width: 234px;
      overflow: hidden;
      overflow-x: scroll;
      height: 448px;
      margin-top: 15px;
      margin-left: -117px;
      
      @media screen 
      and (min-device-width: $iphone6plus) 
      {                 
        width: calc(100vw - 100px);
        left: 53px;
      }
      
      #photo-container {
        position: absolute;
        
        .page{
          float: left;
          width: calc(100vw - 45px);            
          width: 75vw;
          max-width: 234px;

          @media screen 
          and (min-device-width: $iphone6plus) 
          {                 
            width: calc(100vw - 79px);
          }

          .col {
            float: left;
            width: calc(42% - 12px);
            max-width: 93px;
            margin-right: 12px;
            margin-left: 12px;


            @media screen 
            and (min-device-width: $iphone6plus) 
            {                 
              width: calc(33vw - 50px);
            }
          }

          .photo {

            position: relative;
            float: left;
            margin-bottom: 25px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px; /* future proofing */
            -khtml-border-radius: 5px; /* for old Konqueror browsers */         
            width: 100%;
            background-size: cover;
            padding-bottom: 100%;

            .spinnder {
              width: 20px;
              height: 20px;
            }
          }

          .thumb{
            position: absolute;
            left: 0;
            width: 100%;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -khtml-border-radius: 5px;
            background-size: cover;
            padding-bottom: 100%;
          }
        }
      }
    }
  }
}