



@import 'reset';
@import 'common';
// @import 'big-show';
@import 'landing_l';
@import 'sharing';
// @import 'landscape';
// @import 'alert';
@import 'choose-video';
@import 'upload-facebook';
@import 'upload-manager';
@import 'upload_l';
@import 'positioning_l';

body {
  background: url('../img/common/bg_portrait.jpg') no-repeat top left;
  background-size: cover;
  color: #FFFFFF;
}

.va {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
  