* {
    margin:0;
    padding:0;
}   

body {       
    // background-size: cover;
    // background-color: #24afe9;
    // font-family: "VAG Rounded W01 Bold", sans-serif;
    font-family: "Helvetica", sans-serif;
    min-height:100%;
    height: 100%;
    height:100vh;
    min-height:100vh;
}

.spinner {        
    border-radius: 50%; /* Rounds out the halo */
    opacity: .7; /* Some subtle opacity to help blend with variable background colors */
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}  

#main-loading-spinner {
    display: none;
    background-color: rgba(0,0,0,.75);
    width: 100%;
    height: 100%;
}   

#loading {
    opacity: 0;
    background: url("../img/loading/bg_portrait.jpg") no-repeat left top #000000;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    width: 100vw;
    height: 100vh; 
    position: absolute;
    z-index: 1000;     

    @media screen and (orientation:landscape){
        background: url("../img/loading/bg_landscape.jpg") no-repeat left top #000000;
        background-size: cover;
    }
    .loading-oddcast-logo {
        position: absolute;
        left: 50%;
        bottom: 101px;
        width: 100px;
        margin-left: -50px;

        img {
            width: 100%;
            max-width: 104px; 
        }   
    }

    .loading-bar {
        // background: url("../img/loading/loading-bar-bg.png") no-repeat left top;
        background-size: 100%;
        float: left;
        position: absolute;
        left: 50%;
        width: 300px;
        height: 12px;
        bottom: 65px;
        margin-left: -150px; 
    
        #loading-bar-bg, #loading-bar-fill{

            height: 100%;

            div {
                float: left;
            }
            .left-hinge {
                width: 14px;
                img {
                    width: 100%;
                }
            }

            .middle {           
                width: calc(100% - 28px);
                overflow: hidden;
                position: absolute;
                height: 100%;
                left: 14px;                
                img {
                    height: 100%;
                }
            }

            .right-hinge {
                width: 14px;
                float: right;
                img {
                    width: 100%;
                }
            }
        }
       
        #loading-bar-fill {
            position: absolute;
            width: 1%;
            min-width: 28px;
            z-index: 100;
            overflow: hidden; 
            -webkit-transition: width .5s ease-out 0;
            -moz-transition: width .5s ease-out 0;
            -o-transition: width .5s ease-out 0;
            transition: width .5s ease-out 0;
            
        }  
    }    

}